#!/usr/bin/env bash

# Create and activate a virtual environment for the project
if [ ! -d ".venv" ]; then
    echo "Creating virtual environment in .venv"
    python3 -m venv .venv
fi

source .venv/bin/activate

# Install dependencies
if [ -f "requirements.txt" ]; then
    pip install -r requirements.txt
fi

# Add the src directory to PYTHONPATH
export PYTHONPATH=$PYTHONPATH:$(pwd) 